<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @order.email %>!</h4>

    <% @order.line_items.each do |item| %>
    <div class="order-summary-item">
      <td class="order-summary-name"><strong> Name: </strong> <%=  item.product.name %></td> <br />
      <td class="order-summary-description"> <strong> Description: </strong> <%= item.product.description %></td><br />
      <img src="<%= item.product.image.tiny %>"> <br />
      <td><strong> Quantity: </strong><%= item.quantity %></td>
      <br />
      <p> </p>

    </div>
    <% end %>
    <span> ORDER TOTAL: <%= humanized_money_with_symbol (@order.total_cents / 100.0) %> </span> <br />
    <span> We hope you enjoyed your visit </span>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

