<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order.email %></h1>
    <p>
      This is your order!
    </p>

    <% @order.line_items.each do |item| %>
      <strong> Name: </strong> <%=  item.product.name %></td> <br />
      <strong> Description: </strong> <%= item.product.description %></td><br />
      <td><strong> Quantity: </strong><%= item.quantity %></td>
    <% end %>
    <span> ORDER TOTAL: <%= humanized_money_with_symbol (@order.total_cents / 100.0) %> </span> <br />
    <span> We hope you enjoyed your visit </span>
  </body>
</html>